.shipment {
    background-color: var(--fenix-main-color);
    color: white;
}

.shipment b {
    font-weight: 800;
}

.shipment__container {
    padding:  84px 0 104px 0;
}

.shipment__wrapper {
    display: grid;
    grid-template-columns: 504px 504px;
    column-gap: 72px;
    row-gap: 75px;
    margin-top: 56px;
    position: relative;
}

.shipment__russia, .shipment__msk {
    background-color: var(--fenix-main-color-70);
    padding: 20px 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 50px;
}

.shipment__questions {
    font-size: 25px;
    line-height: 45px;
}

.shipment__questions {
    font-size: 25px;
    line-height: 45px;
    font-weight: 300;
    width: 328px;
}

.shipment__payment {
    font-size: 20px;
    line-height: 40px;
    width: 335px;
    margin-left: 147px;
}

.shipment__image {
    position: absolute;
    transform: translateX(-50%);
    top: 167px;
    left: 50%;
}

@media (max-width: 1080px) {

    .shipment__container {
        padding: 18.6rem 5.3rem;
    }

    .shipment__wrapper {
        display: grid;
        grid-template-columns: 52.4rem 29.8rem;
        column-gap: 0;
        row-gap: 0;
        margin-top: 4.9rem;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .shipment__russia, .shipment__msk {
        padding: 5.3rem 6.8rem;
        font-size: 3.6rem;
        grid-column: span 2;
        line-height: 9rem;
        width: auto;
        margin-bottom: 2rem;
    }


    .shipment__questions {
        font-size: 3.6rem;
        line-height: 6rem;
        grid-column: 1;
        margin: 2rem 0 9rem 0;
        width: auto;
    }

    .shipment__payment {
        font-size: 3.6rem;
        line-height: 6rem;
        grid-column: 1;
        width: auto;
        margin-left: 0;
    }

    .shipment__image {
        width: 29.9rem;
        grid-column: 2;
        grid-row: span 2;
        height: 34.9rem;
        position: relative;
        top: 0;
        left: 0;
        align-self: baseline;
        margin-top: 4rem;
        transform: none;
    }
}