.additions {
    background-color: var(--fenix-grey-color);
}

.additions__container {
    padding: 92px 0 41px 0;
}

.additions__title {
    width: 420px;
}

.additions__wrapper {
    margin-top: 47px;
}

.additions__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    justify-content: space-between;
    align-items: flex-start;
    width: 253px;
    text-align: center;
    background-color: var(--fenix-main-color-5);
    grid-auto-flow: dense;
}

.additions__item-image-wrapper {
    background-color: white;
    height: 217px;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.additions__item-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: var(--fenix-main-color);
    grid-column: span 2;
    margin: 11px 0 5px 0;
}

.additions__item-desc {
    padding: 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    grid-column: span 2;
}

.additions__item-prices {
    text-align: left;
    padding: 4px 10px;
    align-self: end;
}

.additions__item-quan {
    grid-column: 2;
    align-self: flex-end;
    justify-self: flex-end;
    display: none;
}

.additions__item-bp {
    font-weight: 300;
    font-size: 13px;
    text-decoration-line: line-through;
    color: var(--fenix-main-color-70);
}

.additions__item-p {
    font-weight: 300;
    font-size: 19px;
    line-height: 18px;
    color: var(--fenix-main-color-70);
}

.additions__item-p b{
    font-weight: 800;
    color: var(--fenix-main-color);
}

.additions__item-quan>span {
    width: 25px;
    height: 25px;
    background-color: #BDBDBD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.additions__item-quan>.additions__quan-number {
    background-color: white;
    color: var(--fenix-main-color);
    font-weight: 900;
    font-size: 16px;
    cursor: auto;
    appearance: none;
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    text-align: center;
}

.additions__item-quan>.additions__quan-number:focus {
    border: none;
    outline: none;
}

.chosen .additions__item-quan {
    display: flex;
}

.additions__item-cart {
    width: 92px;
    height: 27px;
    /* background-image: url("/images/svg/basket.svg"); */
    align-self: end;
    justify-self: flex-end;
    margin: 0 10px 10px 0;
    cursor: pointer;
    background-size: contain;
	border-radius: 34px;
    color: #531cc9;
    border: 1px solid #531cc9;
	line-height: 25px;
    font-weight: 500;
}

.chosen .additions__item-cart {
    display: none;
}

img.additions__item-image {
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 1080px) {

    .additions__container {
        padding: 21.3rem 5.3rem;
    }

    .additions__title {
        width: auto;
    }

    .additions__wrapper {
        margin-top: 6.8rem;
    }

    .additions__item {
        width: 43.5rem;
    }

    .additions__item-image-wrapper {
        height: 37.6rem;
    }

    .additions__item-title {
        font-size: 4rem;
        line-height: normal;
        margin: 5.6rem 0 3.7rem 0;
    }

    .additions__item-desc {
        padding: 0 4rem 4rem 4rem;
        font-size: 4.4rem;
        line-height: 6rem;
    }

    .additions__item-prices {
        text-align: left;
        padding: .7rem 2.7rem;
    }


    .additions__item-bp {
        font-size: 3.5rem;
    }

    .additions__item-p {
        font-size: 5rem;
        line-height: 4.4rem;
    }

    .additions__item-quan>span {
        width: 7.7rem;
        height: 7.7rem;
        font-size: 6rem;
        font-weight: 800;
    }

    .additions__item-quan>.additions__quan-number {
        font-size: 4.9rem;
        width: 7.7rem;
        height: 7.7rem;
    }

    .additions__item-cart {
        font-size: 3.3rem;
        width: 19.4rem;
        height: 7.5rem;
        margin: 0 2rem 2rem 0;
    }
}