.usage {
    background-color: var(--fenix-grey-color);
}

.usage__container {
    padding: 85px 0 59px 0;
    display: grid;
    grid-template-columns: 540px 444px;
    grid-auto-flow: column;
    row-gap: 40px;
    column-gap: 63px;
}

.usage__title, .usage__order {
    grid-column: 1;
}

.usage__order {
    margin-left: 69px;
}

.usage__image {
    grid-column: 2;
    grid-row: span 2;
}

.usage__point {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

@media (max-width: 1080px) {
    .usage {
        background-color: var(--fenix-grey-color);
    }

    .usage__container {
        padding: 15rem 4.2rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 20px;
        column-gap: 0;
    }

    .usage__image {
        width: 52.3rem;
        height: 66.7rem;
        margin: 4rem 0 0 20rem;
        grid-row: 3;
    }

    .usage__order {
        margin: 5rem 0 0 0;
        grid-column: 2;
        row-gap: 15px;
        display: grid;
    }

    .usage__point.fenix-bullet {
        margin-bottom: 0;
        font-size: 4.4rem;
        line-height: 5.3rem;
    }

    .usage__title {
        grid-column: 2;
    }

}