.package {
    background-color: var(--fenix-grey-color);
}

.package__container {
    padding: 91px 0 42px 0;
}

.package__title {
    margin-bottom: 15px;
}

.package__comment {
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    color: var(--fenix-main-color)
}

.package__wrapper {
    margin-top: 27px;
}

.package__item {
    display: flex;
    flex-flow: column nowrap;
    width: 253px;
    background-color: var(--fenix-main-color-5);
    text-align: center;
}

.package__item-image-wrapper {
    height: 217px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package__item-title {
    color: var(--fenix-main-color);
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    margin: 13px 0 3px 0;
}

.package__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 0 auto 26px auto;
    width: 200px;
}

img.package__item-image {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1080px) {
    .package__container {
        padding: 15rem 4.8rem 15rem 4.8rem;
    }

    .package__title {
        width: 72.5rem;
        margin-bottom: 4.5rem;
    }

    .package__comment {
        width: 72.5rem;
        font-size: 5.4rem;
        line-height: normal;
        font-style: italic;
        font-weight: 400;
    }

    .package__wrapper {
        margin-top: 7.4rem;
    }

    .package__item {
        width: 43.7rem;
        justify-content: space-between;
    }

    .package__item-image-wrapper {
        height: 37.4rem;
        width: 100%;
    }

    .package__item-title {
        font-size: 4.4rem;
        line-height: normal;
        margin: 5.6rem 0 3.7rem 0;
    }

    .package__item-text {
        font-size: 4rem;
        line-height: 6rem;
        margin: 0 auto 4.5rem auto;
        width: 38rem;
    }
}