.modern__container {
    padding: 50px 0 60px 0;
    display: grid;
    grid-template-columns: auto 280px 280px;
    justify-content: center;
    align-items: flex-end;
}

.modern__title {
    grid-column: 1;
}

.modern__features-1 {
    grid-column: 1;
    width: auto;
    margin: 48px 32px 0 0;
    background: #f7f7ff;
    display: grid;
    row-gap: 28px;
    padding-bottom: 27px;
}

.modern__features-2 {
    grid-column: 1;
    bottom: 140px;
    right: 60px;
    margin-right: 32px;
}

.modern__features-1 .modern__feature,
.modern__features-2 .modern__feature {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background-color: lavender;
    padding: 0 16px;
}

.modern__comment {
    grid-column: 1;
    font-weight: 900;
    font-size: 30px;
    font-style: italic;
    line-height: 39px;
    color: var(--fenix-main-color);
    margin-top: 60px;
}

.modern__narod {
    height: 588px;
    width: 260px;
    grid-column: 2;
    grid-row: span 3;
}

.modern__narod-dioptr {
    height: 628px;
    width: 250px;
    grid-column: 3;
    grid-row: span 3;
}

@media (max-width: 1080px) {
    .modern__container {
        padding: 15rem 4.2rem 13rem 4.2rem;
        grid-template-columns: auto;
        grid-auto-rows: auto auto 134px;
    }

    .modern__title {
        grid-column: 1/4;
    }

    .modern__features-1 {
        grid-column: 1/4;
        width: auto;
        margin: 8rem 0 0 0;
        row-gap: 25px;
        padding-bottom: 13rem;
    }

    .modern__features-2 {
        grid-column: 3;
        grid-row: 3;
        position: relative;
        bottom: 0;
        right: 0;
        grid-column: 1/4;
        display: grid;
        margin-right: 0;
    }

    .modern__features-1 .modern__feature,
    .modern__features-2 .modern__feature {
        font-size: 4.4rem;
        line-height: normal;
        padding: 3.7rem;
    }

    .modern__comment {
        grid-column: 1/4;
        font-size: 6.2rem;
        line-height: normal;
        width: auto;
        margin-top: 20px;
    }

    .modern__narod {
        height: 74.8rem;
        width: 32.9rem;
        grid-column: 1;
        grid-row: 4;
        margin-left: 50px;
    }

    .modern__narod-dioptr {
        height: 83.6rem;
        width: 33.2rem;
        grid-column: 3;
        grid-row: 4;
        margin-right: 50px;
    }

}