.messages {
    background-color: var(--fenix-grey-color)
}

.messages__container {
    padding: 90px 0;
    font-size: 18px;
    color: var(--fenix-main-color);
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 577px;
    gap: 23px;
    grid-auto-flow: column;
}

.messages__title {
    width: 700px;
    grid-column: 1
}

.messages__message {
    width: 370px;
    grid-column: 1
}

.messages__input {
    border: 1px solid #BDBDBD;
    width: 404px;
    height: 53px;
    border-radius: 34px;
    grid-column: 1;
    padding-left: 20px;
    font-size: 20px;
}

.messages__submit {
    width: 220px;
    height: 53px;
    background-color: var(--fenix-main-color);
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    grid-column: 1
}

.messages__background {
    float: right;
    width: 577px;
    height: 514px;
    grid-column: 2;
    grid-row: span 6;
}

.messages__icons {

    grid-column: 1;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 62px;
    width: 65px;
    height: 65px;
}

/*-------------------------------*/

.fixed-action-button {
    position: fixed;
    z-index: 10;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--fenix-grey-color);
    border: 10px double var(--fenix-grey-color);
    left: 70px;
    bottom: 70px;
    width: 129px;
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

/*-------------------------------*/

.order__callback.pop {
    background-color: white;
    padding: 50px 100px;
    border-radius: 30px;
    border: 1px solid var(--fenix-main-color);
    z-index: 20;
    /* width: 800px; */
    /* height: 600px; */
}

img.order__callback-image {
    width: 423px;
    height: 380px;
    grid-row: span 4;
    margin-left: 70px;
    grid-column: 1;
}

form#callback-post {}

form#\#callback-post {
    display: grid;
    grid-template-columns: 500px 492px;
    column-gap: 83px;
    row-gap: 34px;
}

.order__callback .order__input {
    height: 62px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px 40px;
    margin: 0;
}

.order__callback .order__popup-button {
    width: 254px;
    height: 62px;
    border-radius: 30px;
    justify-self: end;
}

.order__callback .order__popup-title {
    font-size: 30px;
}

@media (max-width: 1080px) {
    .fixed-action-button {
        font-size: 3rem;
        border: 2rem double var(--fenix-grey-color);
        left: 5rem;
        bottom: 5rem;
        width: 18rem;
        height: 18rem;
        display: flex;
    }

    .messages__container {
        text-align: center;
        padding: 16rem 0;
        font-size: 4rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 6rem;
    }

    .messages__title {
        width: 88rem;
    }

    .messages__message {
        width: 80rem;
    }

    .messages__input {
        width: 81rem;
        height: 12rem;
        border-radius: 6.3rem;
        padding-left: 3rem;
        font-size: 4.5rem;
        text-align: center;
    }

    .messages__submit {
        width: 54rem;
        height: 12rem;
        border-radius: 6.3rem;
    }

    .messages__icons {
        justify-content: space-around;

    }

    .messages__icon {
        width: 13rem;
        height: 13rem;
    }


    .order__callback.pop {
        background-color: white;
        padding: 10rem 7rem 7rem 7rem;
        border-radius: 3rem;
        border: 1px solid var(--fenix-main-color);
        z-index: 20;
        overflow: scroll;
        max-height: 90vh;
    }

    img.order__callback-image {
        width: 50rem;
        height: 42rem;
        margin-left: 0;
    }

    form#\#callback-post {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 8rem;
        align-items: center;
        text-align: center;
    }

    .order__callback .order__input {
        height: 8rem;
        font-size: 3rem;
        padding: 1rem 5rem;
    }

    .order__callback .order__popup-button {
        width: 35rem;
        height: 8.5rem;
        border-radius: 4rem;
        margin: 0;
    }

    .order__callback .order__popup-title {
        font-size: 4.7rem;
        margin: 0;
    }


}
