.receipts__container {
    padding: 100px 0 134px 0;
    display: grid;
    grid-template-columns: 680px 300px;
    justify-content: space-between;
}

.receipts__title {
    grid-column: 1;
    margin-bottom: 15px;
}

.receipts__comment {
    grid-column: 1;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    color: var(--fenix-main-color)
}

.receipts__drinks {
    grid-column: 2;
    grid-row: 1/3;
}

.receipts__drinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 13px;
}

.receipts__drink {
    width: 145px;
}

.receipts__table {
    margin-top: 88px;
    grid-column: 1/3;
    border-left: 1px solid var(--fenix-main-color);
    border-bottom: 1px solid var(--fenix-main-color);
}

.receipts__receipt {
    display: grid;
    grid-template-columns: repeat(5, 181px) 110px 1fr;
    height: 92px;
    width: 1080px;
    color: var(--fenix-main-color);
}

.receipts__receipt > div {
    border-top: 1px solid var(--fenix-main-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
}

.receipts__receipt > div:not(.receipts__image) {
    border-right: 1px solid var(--fenix-main-color);
}

.receipts__water:not(.empty):before {
    content: " ";
    background-image: url("/images/svg/bottle.svg");
    width: 32px;
    height: 52px;
    background-size: contain;
    background-position: center;
}

.receipts__sugar:not(.empty):before {
    content: " ";
    background-image: url("/images/svg/sugar.svg");
    width: 84px;
    height: 46px;
    background-size: contain;
    background-position: center;
}

.receipts__yeast:not(.empty):before {
    content: " ";
    background-image: url("/images/svg/yeast.svg");
    width: 93px;
    height: 49px;
    background-size: contain;
    background-position: center;
}

.receipts__ingredient:not(.empty):before {
    content: " ";
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.receipts__ingredient--apple:before {

    background-image: url("/images/svg/apples.svg");
    width: 90px;
    height: 59px;
}

.receipts__ingredient--grape:before {

    background-image: url("/images/svg/grapes.svg");
    width: 93px;
    height: 55px;
}

.receipts__ingredient--grain:before {

    background-image: url("/images/svg/grain.svg");
    width: 74px;
    height: 59px;
}

.receipts__prices {
    order: 6;
}

span.receipts__bp {
    font-size: 12px;
    text-decoration: line-through;
    color: var(--fenix-main-color-20);
    padding-top: 40px;
}

span.receipts__p {
    white-space: nowrap;
    font-size: 10px;
}

span.receipts__p b {
    font-size: 18px;
    font-weight: 600;
}

.receipts__receipt-title, .receipts__name {
    padding: 0 20px 0 20px;
    text-align: center;
}

.receipts__receipt-title:last-child {
    grid-column: span 2;
}


.receipts__receipt-title {
    background-color: var(--fenix-main-color-5);
    font-weight: 600;
}

img.receipts__receipt-img {
    max-height: 92px;
    align-self: flex-start;
}

.receipts__image {align-items: flex-start;}

@media (max-width: 1080px) {
    .receipts__container {
        padding: 20rem 0;
        display: block;
    }

    .receipts__title {
        padding: 0 5.7rem 0 12rem;
    }

    .receipts__comment {
        padding: 0 5.7rem 0 12rem;
        font-size: 3.9rem;
        font-weight: 500;
        line-height: 6.7rem;
    }

    .receipts__drinks {
        padding: 10rem 5.7rem 11rem 12rem;
        font-size: 4rem;
        row-gap: 1.2rem;
        width: auto;
    }

    .fenix-bullet.receipts__drink {
        /* padding: 10rem 5.7rem 11rem 12rem; */
        font-size: 3.4rem;
        /* row-gap: 1.2rem; */
        width: 33%;
        margin-bottom: 3.5rem;
    }

    .receipts__table {
        margin: 0;
        border: none;
    }

    .receipts__receipt {
        display: flex;
        flex-flow: row wrap;
        height: auto;
        width: 100rem;
        color: var(--fenix-main-color);
        margin-top: 10rem;
    }

    .receipts__receipt span {
        font-size: 3.2rem;
        font-weight: 800;
    }

    .receipts__receipt > div {
        justify-content: center;
        align-items: center;
        height: 18.8rem;
        box-sizing: border-box;
        flex-basis: 24rem;
        order: 3;
        border-style: solid;
        border-color: var(--fenix-main-color-20);
        border-width: 1px 1px 1px 0;
        flex-grow: 4;
        position: relative;
        padding-top: 7rem;
    }

    .receipts__receipt > div.empty {
        display: none;
    }

    .receipts__receipt > .receipts__image {
        border-right-width: 1px;
        padding: 0;
        flex-basis: 22.8rem;
        flex-grow: 0;
    }


    .receipts__receipt .receipts__name {
        order: 1;
        width: 50rem;
        background-color: var(--fenix-main-color-5);
        font-size: 4.4rem;
        align-items: baseline;
        text-align: left;
        font-weight: 800;
        border: none !important;
        height: 12rem;
        flex-basis: 50rem;
        padding: 0 0 0 5.7rem;
    }

    .receipts__receipt .receipts__prices {
        order: 2;
        height: 12rem;
        width: 50rem;
        background-color: var(--fenix-main-color-5);
        flex-flow: row nowrap;
        text-decoration-thickness: from-font;
        align-items: self-end;
        justify-content: flex-end;
        column-gap: 3rem;
        padding: 0 5.7rem 3.1rem 0;
        flex-basis: 50rem;
        border: none!important;
    }

    .receipts__water:not(.empty):before {
        width: 4.3rem;
        height: 6.9rem;
    }

    .receipts__water:not(.empty):after {
        content: "Вода";
        position: absolute;
        top: 2.4rem;
        font-size: 3.2rem;
    }

    .receipts__sugar:not(.empty):before {
        width: 11.2rem;
        height: 6.1rem;
    }

    .receipts__sugar:not(.empty):after {
        content: "Сахар";
        position: absolute;
        top: 2.4rem;
        font-size: 3.2rem;
    }

    .receipts__yeast:not(.empty):before {
        width: 12.4rem;
        height: 6.5rem;
    }

    .receipts__yeast:not(.empty):after {
        content: "Дрожжи";
        position: absolute;
        top: 2.4rem;
        font-size: 3.2rem;
    }

    .receipts__ingredient--apple:before {
        width: 12rem;
        height: 7.9rem;
    }

    .receipts__ingredient--apple:not(.empty):after {
        content: "Яблоки";
        position: absolute;
        top: 2.4rem;
        font-size: 3.2rem;
    }

    .receipts__ingredient--grape:before {
        width: 12.4rem;
        height: 7.3rem;
    }

    .receipts__ingredient--grape:not(.empty):after {
        content: "Виноград";
        position: absolute;
        top: 2.4rem;
        font-size: 3.2rem;
    }

    .receipts__ingredient--grain:before {
        width: 9.9rem;
        height: 7.9rem;
    }

    .receipts__ingredient--grain:not(.empty):after {
        content: "Солод, Зерно";
        position: absolute;
        top: 2.4rem;
        font-size: 3.2rem;
        white-space: nowrap;
    }

    .receipts__prices {
        order: 6;
    }

    span.receipts__bp {
        font-size: 3.6rem;
        /* text-decoration: line-through; */
        padding: 0;
    }

    span.receipts__p {
        white-space: nowrap;
        font-size: 2.9rem;
    }

    span.receipts__p b {
        font-size: 5rem;
        font-weight: 600;
    }

    .receipts__receipt-title, .receipts__name {
        padding: 0 20px 0 20px;
        text-align: center;
    }

    .receipts__receipt-title:last-child {
        grid-column: span 2;
    }

    .receipts__receipt-title {
        background-color: var(--fenix-main-color-5);
        font-weight: 600;
    }

    img.receipts__receipt-img {
        max-height: 18.7rem;
        align-self: flex-start;
    }

}